body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(56, 152, 236, 1) 100%
  );
  min-height: 100vh;
}

.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: rgb(247, 247, 247);
  padding: 15px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.nav-bar div {
  margin-left: 15px;
  cursor: pointer;
}

.nav-bar div:nth-child(1) {
  margin-left: 0px;
  position: relative;
  top: -1px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 999px;
}

.nav-bar div:nth-child(1) span {
  position: relative;
  top: 2px;
  left: 5px;
}

.nav-bar div:nth-child(2) {
  position: relative;
  margin-left: 5px;
  top: -1px;
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 999px;
}

.nav-bar div:nth-child(2) span {
  position: relative;
  top: 1px;
  left: 7px;
}

.nav-bar div:hover {
  text-decoration: underline;
}

.history-one {
  position: absolute;
  left: 310px;
  top: 50px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  height: fit-content;
  width: 250px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}

.history-category {
  padding: 10px 10px;
}

.history-category:hover {
  background-color: #5757ff;
  cursor: pointer;
}

.history-category a {
  color: black;
  text-decoration: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.history-two {
  position: absolute;
  left: 0;
  top: 51px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.history-title {
  padding: 10px;
  font-size: 36px;
}

.history-header {
  padding: 0px 0 10px 20px;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.history-category-2 {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.history-category-2 span:nth-child(1) {
  display: inline-block;
  width: 500px;
}

.history-category-2:hover {
  background-color: #5757ff;
  cursor: pointer;
}

.history-category-2 a {
  color: black;
  text-decoration: none;
}

.history-link {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.tickets-container {
  margin: 0 auto;
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 946px;
  padding-top: 100px;
}
